$white : #fefefe;;
$buttonHeaderBorder : #1b1a1c;
$bg_black : #000000;
$bgLiteDark : #1a1a1a;
$SignAndLang_bg : #27282e;
$grayLineColor : #9e9e9e;
$goldenDark : #cfaa69;
$goldTextColor : #f4eebf;
html{
   font-size: 16px;
}

//overflow - hidden
.ov-h{
    overflow: hidden;
}

.header{
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-position: bottom;
     min-height: 780px;
     padding-top: 60px;
     padding-bottom: 150px;
}

.header-nav{
   margin-bottom: 80px;
}

.nav-bar{
    display: flex;
    position: relative;
    ul{
        display: inherit;
        list-style-type: none;
        margin: 0;
        color: $white;


        li{
            margin-right: 67px;
            font-size: 24px;
            font-family: "Exo-2" , sans-serif;
            font-weight: 400;
            a{
                text-decoration: none;
                text-decoration-style: none;
                color: $white;
            }
        }

        
    }


.sign-in{
            color: $white;
            padding : {
                left: 3px;
                right: 28px;
                top: 4px;
                bottom: 5px;
            };
            margin-right: 20px;
            border: 2px solid $buttonHeaderBorder;
            border-radius: 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: "Exo-2" , sans-serif;
            font-weight: 400;
            transition: all .3s;
            transition: border .7s;
            i{
                background-image: url(../img/icon/user-icon.png);
                background-repeat: no-repeat;
                width: 28px;
                height: 28px;
                display: inline-block;
                font-size: 28px;
                margin-right: 25px; ;
                transition: all .6s;
                
                
            }

            span{
                display: inline-block;
                transition: all .3s;
            }
            &:hover{
                background: rgba($goldTextColor, .2);
                border: 2px solid $goldenDark;
                i{
                    transform: translateX(97px);
                    
                    
                }

                span{
                    transform: translateX(-60%);
                    color: $goldTextColor;
                }
               
            }

        }

.lang{
            color: $white;
            padding : {
                left: 4px;
                right: 11px;
                top: 4px;
                bottom: 5px;
            };
            margin-right: 20px;
            border: 2px solid $buttonHeaderBorder;
            border-radius: 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: "Exo-2" , sans-serif;
            font-weight: 400;
            transition: all .3s;
            transition: border .6s;
            .lang-icon-earth{
                background-image: url(../img/icon/earth-icon.png);
                background-repeat: no-repeat;
                
                width: 27px;
                height: 27px;
                display: inline-block;
                font-size: 28px;
                margin-right: 25px; ;
                transition: all .6s;
            }
            .lang-icon-arrow{
                display: inline-block;
                background-image: url(../img/icon/arrow.png);
                background-repeat: no-repeat;
                width: 10px;
                height: 19px;
                margin-top: 2px;
                transition: all .6s;
            }
            span{
                display: inline-block;
                margin-right: 20px;
                transition: all .6s;
            }
            

            &:hover{
                background: rgba($goldTextColor, .2);
                border: 2px solid $goldenDark;
                .lang-icon-earth{
                    transform: translateX(130px);
                }
                .lang-icon-arrow{
                    transform: translateX(-135px) rotate(180deg);
                }

                span{
                    transform: translateX(-10px);
                    
                    color: $goldTextColor;
                }

                
            }
        }

    .toggle_mnu{
        background:transparent;
        width: 42px;
        height: 42px;
        position: absolute;
        border: none;
        border: 2px solid $buttonHeaderBorder;
        border-radius: 50%;
        right: -84px;
        top: 0px;
        z-index: 100;
        outline: none;
        cursor: pointer;
        span{
            display: block;
        }
        $w: 21px;
        $h: 2px;
        
        .sandwich {
            width: $w;
            height: $w;
            position: absolute;
            top: 2px;
            bottom: 0;
            left: 1px;
            right: 0;
            margin: auto;;
            z-index: 100;
           
        }
        .sw-topper{
            position: relative;
            top: 0;
            width: $w ;
            height: $h;
            background: rgb(255, 255, 255);
            border: none;
            border-radius: 4px 4px 4px 4px;
            transition: transform 0.5s, top 0.2s;
            display: block;
                    
            //transition-delay: 0.2s, 0s;
        }
        
        
        .sw-bottom{
            position: relative;
            width: $w;
            height: $h;
            top: $h * 3.2;
            background: rgb(255, 255, 255);
            border: none;
            border-radius: 4px 4px 4px 4px;
            transition: transform 0.5s, top 0.2s;
            transition-delay: 0.2s, 0s;
        }
        .sw-footer{
            position: relative;
            width: $w;
            height: $h;
            top: $h * 6.5;
            background: rgb(255, 255, 255);
            border: none;
            border-radius: 4px 4px 4px 4px;
            transition: all 0.5s;
            transition-delay: 0.1s;
        }
        .sandwich.active{
            .sw-topper{
                top: 8px;
                transform: rotate(-45deg);
            }
            .sw-bottom{
                top: 6px;
                transform: rotate(45deg);
            }
            .sw-footer{
                opacity: 0;
                top: 0;
                transform: rotate(180deg);
            }
        }

    }

    .nav_mnu{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: $bg_black;
        padding-top: 82px;
        display: none;
    }

    .nav_mnu_list{
        display: block;
        text-align: center;
        position: relative;
        padding-left: 90px;
        
        // &::before{
        //     content: '';
        //     position: absolute;
        //     width: 5px;
        //     height: 100%;
        //     left: 5px;
        //     background: #cfa968;
        // }



        li{
            display: block;
            font-size: 48px;
           
            margin: 0;
            margin-bottom: 20px;
            
            
            &:first-child{
                line-height: .7;
                padding-bottom: 10px;
                animation-delay: .2s;
            }
            &:nth-child(2){
                animation-delay: .3s;
            }
            &:nth-child(3){
                animation-delay: .4s;
            }
            &:nth-child(4){
                animation-delay: .5s;
            }
            &:nth-child(5){
                animation-delay: .6s;
            }
            &:nth-child(6){
                animation-delay: .7s;
            }
            &:nth-child(7){
                animation-delay: .8s;
            }

            a{
                 color: #4c4c4c;
                 transition: color .2s;
                 
            }
            a:hover{
                color: $white;
                cursor: pointer;
            }
        }
    }

    // .toggle_mnu--nav{
    //     position: relative;
    //     display: block;
    //     right: unset;
    //     width: 128px;
    //     height: 128px;
    //     border: 5px solid $white;
    //     margin-right: 23px;
    //     $w : 60px;
    //     $h : 8px;

       
        
    //     .sandwich {
    //         width: $w;
    //         height: $w;
    //         position: absolute;
    //         top: -0px;
    //         bottom: 0;
    //         left: 1px;
    //         right: 0;
    //         margin: auto;;
    //         z-index: 200;
           
    //     }
    //     .sw-topper{
    //         position: relative;
    //         top: 0;
    //         width: $w ;
    //         height: $h;
    //         background: rgb(255, 255, 255);
    //         border: none;
    //         border-radius: 4px 4px 4px 4px;
    //         transition: transform 0.5s, top 0.2s;
    //         display: block;
                    
    //         //transition-delay: 0.2s, 0s;
    //     }
        
        
    //     .sw-bottom{
    //         position: relative;
    //         width: $w;
    //         height: $h;
    //         top: $h * 2.2;
    //         background: rgb(255, 255, 255);
    //         border: none;
    //         border-radius: 4px 4px 4px 4px;
    //         transition: transform 0.5s, top 0.2s;
    //         transition-delay: 0.2s, 0s;
    //     }
    //     .sw-footer{
    //         position: relative;
    //         width: $w;
    //         height: $h;
    //         top: $h * 4.5;
    //         background: rgb(255, 255, 255);
    //         border: none;
    //         border-radius: 4px 4px 4px 4px;
    //         transition: all 0.5s;
    //         transition-delay: 0.1s;
    //     }
    //     .sandwich.active{
    //         .sw-topper{
    //             top: 25px;
    //             transform: rotate(-45deg);
    //         }
    //         .sw-bottom{
    //             top: 18px;
    //             transform: rotate(45deg);
    //         }
    //         .sw-footer{
    //             opacity: 0;
    //             top: 0;
    //             transform: rotate(180deg);
    //         }
    //     }
    // }
   
        
}


.header-info{
    font-family: "Exo-2" , sans-serif;
    h1{
        color: $goldTextColor;
        font-size: 52px;
        font-weight: bold;
       
    }

    p{
        color: $white;
        font-size: 32px;
    }

    ul{
        display: inline-block;
        margin: 0;
        margin-bottom: 45px;
        padding: 0;
        padding: {
            left: 15px;
            right: 15px;
            top: 12px;
            bottom: 12px;
        };
        
        border-radius: 10px;
        background: #434242;
        background-image: url('../img/sprite.png');

        li{
            list-style-type: none;
            display: inline-block;
            padding: {
                left: 22px;
                right: 22px;
                top: 0;
                bottom: 0;
            };
            position: relative;
            
            &::before{
                content: '';
                position: absolute;
                width: 2px;
                height: 17px;
                background: #d4a64c;
                left: 0;
                margin-top: 4px;                
            }


            &:last-child{
                &::after{
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 17px;
                    background: #d4a64c;
                    right:  0;
                    margin-top: 4px;                
                } 
            
            }
        }

        a{
            color: $white;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .btn-link-cont{
        margin-top: -10px;
        margin-bottom: 43px;
    }
    .btn-link{
        display: inline-flex;
        align-items: center;
        
        color: $bg_black;
        font-size: 18px;
        padding: {
          left: 18px;
          top: 8px;
          bottom: 8px;
          right: 18px;  
        };
        width: 249px;
        margin: {
            right: 10px;
             top: 19px;
        };
        border-radius: 4px;
        background: linear-gradient(90deg,#d0ab6b,#f4efc0);
        text-decoration: none;
        i{
            margin-right: 38px;
            font-size: 32px;
        }
    }

    .youtube-link{
        background: rgba( $bg_black , .6 );
        color: rgba($white, .8 );
    }

    .social-icon{
        a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $white;
            border: 2px solid $white;
            width: 52px;
            height: 52px;
            font-size: 32px;
            border-radius: 50%;
            text-decoration: none;
            margin-right: 27px;
            transition: all .3s;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: $goldenDark;
                background: $goldTextColor;
                border: 3px solid $goldenDark;
            }
        }
    }


    
}
#countdown{
    // margin-bottom: 40px;
}
.timer_card{
    background: #434242;
    background-image: url('../img/sprite.png');
    margin-top: 30px;
    border-radius: 8px;
    padding-bottom: 22px;
    
    .timer_card_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 32px;
        padding-bottom: 65px;
        margin-bottom: 26px;
        color: $white;
        font-family: "Exo-2" , sans-serif;
        border-bottom: 3px solid #000;
        h3{
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }

    .timer_card_footer{
        
        h3{
            text-align: center;
            font-size: 30px;
            color: rgba($white, .8);
            margin-bottom: 32px;
            font-family: "Exo-2" , sans-serif;
            font-weight: 400;
        }

        a{
            display: block;
            background: linear-gradient(#c79d59,#f4efc0);
            text-align: center;
            padding: {
                top: 18px;
                bottom: 18px;
                left: 108px;
                right: 108px;
            };
            font-size: 30px;
            font-family: "Exo-2" , sans-serif;
            color: $bg_black;
            text-decoration: none;
            margin-bottom: 50px;
            transition: all .2s;
            &:hover{
                padding-top: 20px;
                padding-bottom: 16px;
            }
        }

        h4{
            text-align: center;
            font-size: 48px;
            color: $white;
        }

        p{
            text-align: center;
            color: $white;
            font-size: 24px;
            font-family: sans-serif;
            margin: 0px;
            
        }

    }

    .download_band{
        margin-top: 39px;
        padding: 0 29px;
        
        .count_band{
            text-align: right;
            padding-bottom: 10px;
            padding-right: 15px;
            span{
                font-size: 14px;
                font-family: "Exo-2" , sans-serif;
                color: $white;
                font-weight: 400;
            }
        }

        .band{
            height: 30px;
            background: #a0a0a0;
            border-radius: 20px;
            position: relative;
            margin-bottom: 19px;
            .band_line{
                position: absolute;
                left: 0;
                top: 0;
                
                height: 100%;
                background: #d8bb7e;
                border-radius: 20px;
                transition: all .2s;
            }
        }

        .band_info{
            display: flex;
            justify-content: space-between;
            padding:0 5px;
            p{
            font-size: 14px;
            font-family: "Exo-2" , sans-serif;
            }
        }


    }
}

//what is Archicoin
.s_about{
    background: $goldTextColor;
}
//-what is Archicoin

.s_token-sale{
    padding-top: 87px;
    background: $bgLiteDark;
    color: $goldTextColor;
    font-family: "Exo-2" , sans-serif;
    padding-bottom: 100px;
    h4{
        text-align: center;
        margin-bottom: 88px;
        font-size: 48px;
    }

    .card-container{
        
    }

    .card{
        background-image: url('../img/sprite.png');
        border-radius: 10px;
        padding-bottom: 20px;
    }

   
    .card_header{
        padding: {
            top: 43px;
            bottom: 38px;

        };
        margin-bottom: 13px;
        border-bottom: 2px solid $bg_black;

        h6{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            color: $white;
            padding: {
                left: 10px;
                right: 10px;
            };
            span{
                font-size: 17px;
                color: $goldenDark;
                
            }
        }
    }

    .calendare-icon{
        background-image: url('../img/icon/card-icon/calendar-icon.png');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .coins-icon{
        background-image: url('../img/icon/card-icon/coins-icon.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hand-icon{
        background-image: url('../img/icon/card-icon/hand-with-coin-icon.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .number-icon{
        background-image: url('../img/icon/card-icon/number-icon.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .braun-color{
        color: #b3b3b3;
        // font-style: normal;
        // padding-left: 5px;
    }

    .info_block{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 0 24px;
        margin-bottom: 20px;
        .cal-icon{
            
            min-width: 42px;
            height: 45px;
            
            position: relative;
            margin-right: 40px;
            &::after{
                content: '';
                position: absolute;
                height: 80%;
                width: 2px;
                background: $grayLineColor;
                right: -20px;
                margin-top: 10%;
            }
        }

        p{
            margin: 0;
            color: $white;
        }
    }

    .card-btn{
        display: block;
        text-align: center;
        padding: 15px 0;
        background: linear-gradient(silver , $white);
        color: $bg_black;
        font-size: 24px;
        text-decoration: none;
    }

    .btn-active{
        background: linear-gradient(#c79d59,#f4efc0);
        position: relative;
        z-index: 999;
    }
    .card-2-active{
        position: relative;
        z-index: 10;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -1.5%;
            width: 103.2%;
            height: 100%;
            
            border-radius: 15px;
            border: 5px solid $white;
            z-index: 2;
        }
    }
    .card-2{
        

        .card_header{
            padding: {
                top: 20px;
                bottom: 20px;
    
            };

            p{
                text-align: center;
                margin: 0px;
                margin-top: 25px;
                color: $goldenDark;
            }
        }
    }

    .card-3{
        span.title{
        margin-left: 35px;
        }
    }
}

.s_advantages{
    background: #2b2b2d;
    padding-bottom: 127px;
    padding-top: 78px;
    h6{
        text-align: center;
        font-size: 2.8rem;
        width: 100%;
        color: $goldTextColor;
        font-family: "Exo-2" , sans-serif;
        font-weight: 400;
        margin-bottom: 98px;
    }
}

.s_advantages-content{
    
    .adv_card{
        color: $white;
        font-family: "Exo-2" , sans-serif;
        font-weight: 400;

        img{
            margin-bottom: 10px;
            width: 40px;
            height: 50px;
        }
        
        
    }
    // .fix-mg{
    //     margin-top: 12px;
    // }
    .adv_card_title{
        font-size: 1.5rem;
    }

    .adv_card_content{
        color:  #b3b3b3;
        font-size: .8rem;
    }
}

.s_competitors{
    background: $bgLiteDark;
    padding: 105px 0;
    h6{
         text-align: center;
        font-size: 48px;
        width: 100%;
        color: $goldTextColor;
        font-family: "Exo-2" , sans-serif;
        font-weight: 400;
        margin-bottom: 98px;
    }
}

.table{
    color: $white;
    border: 1px solid $goldenDark;
    margin-bottom: 150px;
    .table-1-title{
        background: $goldenDark;
        color: $bg_black;
        
    }
    tr{
        border: 2px solid $goldenDark;
        
    }

    td{
        padding: 15px 20px;
        text-align: center;
        border-right: 2px solid $goldenDark; 
    }
}

.table-2{
    margin-bottom: 0;
}


.s_roadmap{
 background: #2b2b2d;
 padding-top: 128px;
 padding-bottom: 162px;
    h6{
        text-align: center;
        font-size: 42px;
        width: 100%;
        color: $goldTextColor;
        font-family: "Exo-2" , sans-serif;
        font-weight: 400;
        margin-bottom: 98px;
    }

}

.roadmap{
    
    img{
        width: 80%;
    }
    position: relative;
    p{
        color: $white;
        width: 160px;
        font-size: 12px;
        
        span{
            color: $goldenDark;
            display: block;
        }
    }
}

.roadmap-info--1{
    position: absolute;
    top: 0;
    // left: 21.17543859649123%;
    left: ((230px / 1140px) * 100%)+1 ;

}

.roadmap-info--2{
    position: absolute;
    top: 265px;
    left:((140px / 1140px) * 100%) ;;
}

.roadmap-info--3{
    position: absolute;
    top: 225px;
    left:((410px / 1140px) * 100%)+ 1 ;;
}

.roadmap-info--4{
    position: absolute;
    top: 0;
    left: ((500px / 1140px) * 100%)+2 ;;
}

.roadmap-info--5{
    position: absolute;
    top: 225px;
    left: ((700px / 1140px) * 100%)+2 ;;
}

.roadmap-info--6{
    position: absolute;
    top: 0;
    left:((790px / 1140px) * 100%)+3 ;;
}

.roadmap-info--7{
    position: absolute;
    top: 225px;
    left:((880px / 1140px) * 100%)+4 ;;
}

.roadmap-info--8{
    position: absolute;
    top: 0;
    right: ((-70px / 1140px) * 100%) ;;
}


.s_team{
    background: #28282a;
    padding: 150px 0;
    font-family: "Exo-2" , sans-serif;
    font-weight: 400;
    h6{
        text-align: center;
        font-size: 42px;
        width: 100%;
        font-weight: 400;
        color: $goldTextColor;
        
        
        margin-bottom: 70px;
    }
}
.team_card_container{
   padding-bottom: 50px;
}
.person-card{
    text-align: center;
    margin: 20px 0 ;
    img{
        border-radius: 50%;
        width: 111px;
       border: 5px solid $goldTextColor;
       margin-bottom: 19px;
    }

    p{
        color: $white;
        margin-bottom: 5px;
        span{
            display: block;
            color: #8e8e8e;
        }
    }

    .person-social{
        a{
        color: $goldTextColor;
        font-size: 18px;
        }
    }
}


.s_partners{
    background-image: url('../img/sprite.png');
    background-position: 0 0;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    h6{
        text-align: center;
        font-size: 42px;
        width: 100%;
        font-weight: 400;
        color: $goldTextColor;
        margin-bottom: 70px;
    }
}

.partners_img{
  display: flex;
  justify-content: center;
  align-items: flex-start;

    img{
        width: 86px;
    }
}

.icobox-icon{
   img{
    width: 100%;
   }
}

.s_media{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: "Exo-2" , sans-serif;
    font-weight: 400;
    h6{
        text-align: center;
        font-size: 42px;
        width: 100%;
        font-weight: 400;
        color: $bg_black;
        margin-bottom: 70px;
    }

    img{
        width: 70%;
    }
}


footer{
    font-family: "Exo-2" , sans-serif;
    font-weight: 400;
    
}


$bgFooterCopy : #28282a;

.footer-social{
    padding-bottom: 75px;
    padding-top: 65px;
    background:$bgLiteDark;
    h6{
        text-align: center;
        font-size: 42px;
        width: 100%;
        font-weight: 400;
        color: $goldTextColor;
        margin-bottom: 70px;
    }
}

.footer-social-icon{
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height:80px;
        color: $goldTextColor;
        font-size: 40px;
        border: 3px solid $goldTextColor;
        border-radius: 50%;
        text-decoration: none;
        margin-right: 25px;

        &:last-child{
            margin-right: 0;
        }
    }
}


.footer-copy{
    background: $bgFooterCopy;
    padding-top: 60px;
    padding-bottom: 30px;

    img{
        width: 15%;
        margin-bottom: 30px;
    }

    a{
        color: $white;
        font-size: 14px;
        text-decoration: none;
    }
}